.storeListContainer {
  margin: 10px;
}

.loadingStores {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.storeList {
  height: 60vh;
  width: 530px;
  display: flex;
  flex-direction: column;
  padding: 5px 20px 20px;
  gap: 20px;
  overflow-y: scroll;
}

.storeCard {
  display: flex;
  border: 2px solid white;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.storeClicked,
.storeCard:hover {
  border: 2px solid #83b778;
}

.storeBtn {
  cursor: pointer;
  background-color: white;
  border: none;
}

.storeBtn > h2 {
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  .storeListContainer {
    margin: 0px;
  }

  .storeList {
    width: 250px;
    padding-left: 10px;
    direction: rtl;
  }

  .storeCard {
    flex-direction: column;
  }

  .storeList > * {
    direction: ltr;
  }

  .storeBtn > h2 {
    margin-bottom: 0px;
  }
}
