.userGeolocationBtn {
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
  background-color: #eca461;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}

.userGeolocationBtn:hover {
  background-color: #e08e40;
}
