.addStoreFrom {
  height: 60vh;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  overflow-y: scroll;
}

.addStoreFrom > div {
  display: flex;
  flex-direction: column;
  margin-right: 28px;
}

.addStoreFrom > div > div {
  display: flex;
  justify-content: space-between;
}

.addStoreFrom > div > div > label {
  font-weight: 700;
  margin-bottom: 2px;
}

.addStoreFrom > div > div > p {
  font-size: 14px;
  font-weight: 700;
  color: red;
}

.addStoreFrom > div > input {
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  border: 3px solid rgb(184, 184, 184);
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  text-indent: 15px;
}

.addStoreFrom > div > input {
  width: 294px;
  height: 40px;
}

.addStoreFrom > div > input[type="date"] {
  text-align: center;
}

.addStoreFrom > div > input:focus {
  border: 3px solid rgb(136, 136, 136);
}

.addStoreFrom > div > button[type="submit"] {
  align-self: center;
  width: 200px;
  cursor: pointer;
  color: #83b778;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border: 3px solid #83b778;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
  margin-top: 20px;
}

.addStoreFrom > div > button[type="submit"]:enabled:hover {
  color: white;
  background-color: #83b778;
}

.addStoreFrom > div > button[type="submit"]:disabled {
  cursor: default;
  color: white;
  opacity: 0.3;
  border: 3px solid rgb(158, 158, 158);
  background-color: rgb(158, 158, 158);
}

.addStoreFrom > div > .loader {
  align-self: center;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #83b778;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .addStoreFrom {
    width: 270px;
    margin-top: 20px;
    direction: rtl;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .addStoreFrom > * {
    direction: ltr;
  }

  .addStoreFrom > div {
    margin-right: 0px;
  }

  .addStoreFrom > div > div {
    width: 250px;
    flex-direction: column;
    margin-bottom: 2px;
  }

  .addStoreFrom > div > input {
    width: 250px;
  }

  .addStoreFrom > div > button[type="submit"] {
    width: fit-content;
    padding: 10px;
  }
}
