.mapContainer {
  position: relative;
  height: 60vh;
  width: 60vw;
  border: 5px solid white;
  transition: 0.3s;
}

.mapContainer.blink {
  border: 5px solid #eca461;
  animation: blink-colors 1s infinite alternate;
}

@keyframes blink-colors {
  from {
    border-color: #eca461;
  }
  to {
    border-color: rgb(236, 236, 75);
  }
}

.mapContainer > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 66px;
  color: rgb(86, 86, 86);
  position: absolute;
  top: 10px;
  left: 250px;
  z-index: 99999999;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  background: none padding-box rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border: 0px;
  padding: 0px 17px;
  margin: 0px;
}

.mapContainer > a:hover {
  color: rgb(46, 46, 46);
  background: none padding-box rgb(224, 224, 224);
}

@media (max-width: 750px) {
  .mapContainer {
    position: relative;
    width: 280px;
  }
}
